*.ibc
*.ttc
*.ttm
*.o
*.d
*.a
*.dll
*.dylib

/_/build
/_/lib

/_/idris2docs_venv
/_/docs/build

/_/libs/**/build
/_/ipkg/build

/_/tests/**/build
/_/tests/**/prefix
/_/tests/**/output*
/_/tests/**/*.so
/_/tests/**/*.dylib
/_/tests/**/*.dll
/_/tests/failures

/_/koans/**/build

/_/benchmark/**/build
/_/benchmark/*.csv

/_/bootstrap-build

/IdrisPaths.idr

/_/custom.mk

# Repo-local Edric toolchain
/_/.tools

# NixOS
/_/result

# Editor/IDE Related
# WARNING:
#   do not put comments on the same line as a regex
#   git seems to ignore the pattern in this case

# Vim swap file
*~
*.*.swp
# Emacs swap file
.\#*
# VS Code
.vscode/*
# JetBrains IDEs
.idea/
# Zed editor
.zed/

# macOS
.DS_Store
